@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font: $base-text-size / 1 $base-font-family;
  @include font-smoothing(on);
}

// div.headline {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

table {
  margin-left: auto;
  margin-right: auto;
  width: 551px;
  user-select: none;

  td {
    height: 175px;
    width: 175px;
    text-align: center;
    font-size: 120px;
    color: rgba(229, 103, 255, 0.85);
    border: 2px solid rgba(200, 200, 200, 0.4);
    border-radius: 5px;
    background-color: rgba(173, 4, 242, 0.79);

    // &[data-player=X] {
    //   background-color: rgba(229, 103, 255, 0.85);
    //   &::before
    //     content: 'X';
    //
    // &[data-player=O] {
    //   background-color: rgba(229, 103, 255, 0.85);
    //   &::before
    //     content: 'O';
    // }
  }
}

#players {
  margin: 0 auto 10px;
  padding: 0 10px 10px;
  width: 511px;
  text-align: left;
}

#players .div {
  display: inline-block;
  padding-right: 25px;
  margin: 10px 10px 0 50px;
  color: #666;
  transition-duration: 200;
}

footer {
  margin-top: 15px;
}
