@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  background: url(http://i.imgur.com/B31Uwkm.png) no-repeat center center fixed;
  background-size: cover;
  text-size-adjust: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font: $base-text-size / 1 $base-font-family;
  @include font-smoothing(on);
}

.turnLine {
  font-size: 30px;
}

table {
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  width: 551px;
  user-select: none;

  td {
    height: 175px;
    width: 175px;
    text-align: center;
    font-size: 120px;
    color: rgb(255, 255, 255);
    border: 2px solid rgba(200, 200, 200, 0.4);
    border-radius: 100px;
    background-color: rgba(255, 122, 0, 0.7);
  }
}

#players {
  margin: 0 auto 10px;
  padding: 0 10px 10px;
  width: 511px;
  text-align: left;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

body:not(.modal) .overlay {
  display: none;
}

body.modal main {
  filter: blur(5px);
}

.dialog {
  background-color: rgba(81, 203, 181, 0.84);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 px #333;
  border-radius: 10px;
}

footer {
  margin-top: 15px;

  button {
    height: 50px;
    background-color: rgba(255, 122, 0, 0.64);
    border-radius: 10px;
    border-style: double;
    color: rgb(255, 255, 255);
    font-size: 15px;
  }
}
