@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font: $base-text-size / 1 $base-font-family;
  @include font-smoothing(on);
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 551px;
  user-select: none;

  td {
    height: 175px;
    width: 175px;
    text-align: center;
    font-size: 120px;
    color: rgba(229, 103, 255, 0.85);
    border: 2px solid rgba(200, 200, 200, 0.4);
    border-radius: 5px;
    background-color: rgba(173, 4, 242, 0.79);
  }
}

#players {
  margin: 0 auto 10px;
  padding: 0 10px 10px;
  width: 511px;
  text-align: left;
}

#players .div {
  display: inline-block;
  padding-right: 25px;
  margin: 10px 10px 0 50px;
  color: #666;
  transition-duration: 200;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

body:not(.modal) .overlay {
  display: none;
}

body.modal main {
  filter: blur(5px);
}

.dialog {
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px #333;
}

footer {
  margin-top: 15px;
}
